h1#article-title{
    color: white;
    background-color: #d44986;
    font-family: Lucida;
    font-style: italic;
    text-align: center;
}
p{
    background-color: #F9E5EE;
    color: black;
    font-family: Lucida;
    font-style: italic;
    text-align: center;
}

article figure img{
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    border-style: dotted;
    background-color:#eb96bb;
    padding: 10px;
}
a{
    font-weight: bold;
    color: white;
    background-color: #d44986;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
    border-left: 1px solid #d44986;
    border-right: 1px solid #d44986;
}
ul li a:hover{
    text-decoration: underline;
    border-bottom: 3px solid #d44986;
}

@media all and (min-width: 376px) {
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

@media all and (min-width: 376px) {
    h1#article-title{
        font-size: 20pt;
    }
    p{
        font-size: 10pt;
    }
    ul li a{
        font-size: 10pt;
    }
    h2.section-header{
        font-size: 14pt;
    }
}

@media all and (min-width: 768px) {
    h1#article-title{
        font-size: 40pt;
    }
    p{
        font-size: 14pt;
    }
    ul li a{
        font-size: 20pt; 
    }
    h2.section-header{
        font-size: 20pt;
    }
}

ul{
    list-style: none;
    justify-content: center;
    gap: 20px;
}
h2.section-header{
    color: white;
    background-color:#d44986;
    font-family: Lucida;
    text-align: center;
}