h1{
    color: white;
    background-color: #d44986;
    font-family: Lucida;
    font-style: italic;
    text-align: center;
    font-size: 40pt;
}
p{
    background-color: #F9E5EE;
    color: black;
    font-family: Lucida;
    font-style: italic;
    text-align: center;
    font-size: 14pt;
}
article figure img{
    width: 400px;
    height: auto;
    border: 5px solid white;
    border-style: dotted;
    background-color:#eb96bb;
    padding: 10px;
}
a{
    font-weight: bold;
    color: white;
    background-color: #d44986;
}
ul li a{
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
    border-left: 1px solid #d44986;
    border-right: 1px solid #d44986;
}
ul li a:hover{
    text-decoration: underline;
    border-bottom: 3px solid #d44986;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}